{deps, [
    {ex_uri,  ".*", {git, "https://github.com/extend/ex_uri.git"}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git"}},
    {erlzmq,  ".*", {git, "https://github.com/zeromq/erlzmq2.git", {branch, "3.x"}}},
    {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.4"}}},

    %% for tests
    {proper,  ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
]}.
